.labelDiv{
    display: flex; /* This enables flexbox */
    justify-content: space-around; /* This distributes space around items */
    align-items: center; /* This vertically aligns items in the middle */
    width: 100%; /* Ensures the container fills the parent width */
}

.labelDiv input {
    flex: 1; /* Allows each input to grow and fill the container equally */
    min-width: 0; /* Prevents inputs from overflowing their container */
    margin: 1px; /* Optional: Adds some space between the inputs */
    height: 20vh;
    border: 1px solid black;
    background-color: #cccccc;
    font-size: large;
    margin-bottom: 1vh;
    text-align: center; 
  }

  .labelDiv div {
    display: inline-flex; 
    flex: 1; /* Allows each input to grow and fill the container equally */
    min-width: 0; /* Prevents inputs from overflowing their container */
    margin: 1px; /* Optional: Adds some space between the inputs */
    height: 20vh;
    border: 1px solid black;
    background-color: #cccccc;
    font-size: large;
    margin-bottom: 1vh;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }


.textCardHolder{
    display: inline-flex; 
    justify-content: left; 
    align-items: center; 
    text-align: center; 
    width: 100%;
}

.grid-2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates 2 columns */
    grid-template-rows: 1fr 1fr; /* Creates 2 rows */
    gap: 0px; /* Adds some space between the grid items */
    width: 19vw; /* Adjust the width as needed */
    margin: 0.2vw;
    border: 1px solid black
}

.grid-item {
    border: 1px solid gray; /* Adds a border to each item */
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    height: 10vh; /* Or any desired height */

}

.grid-1x3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Creates 3 columns */
    grid-template-rows: 1fr; /* Creates 1 rows */
    gap: 0px; /* Adds some space between the grid items */
    width: 19vw; /* Adjust the width as needed */
    margin-top: 1vh;
    border: 1px solid black
}

.buttonHolder {
    display: inline-block;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; /* Creates 2 rows */
    gap: 0px; /* Adds some space between the grid items */
    margin: 0vw;
    border: 0px solid black;
    align-items: center;
    justify-content: center;
}

.regularButton {
    margin:5px
}